.nav_mag {
  margin-right: 30px;
  color: rgb(133, 133, 177);
  text-decoration: none;
  font-weight: 700;
}

.nav_mag:hover {
  margin-right: 30px;
  color: rgb(91, 101, 134);
  text-decoration: none;
  font-weight: 700;
}

.profile_image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.nav_bar {
  background-color: rgba(5, 5, 18, 1) !important;
  box-shadow: rgba(0, 100, 214, 0.24) 0px 3px 8px;
}
